<html>
    <head><title>This is my database!</title></head>
    <body>
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
        <h1>Task List</h1>
        <ul>
        {% for task in tasks %}
        <li>Task {{ task['id'] }}: {{ task['title'] }}: {{ task['completed_at'] }}</li>
        {% endfor %}
        </ul>

    <form method="POST" action="/save_task">
        <input type="text" name="task_title"></input>
        <input type="submit">
    </form>

    </body>
</html>